
    <div class="footer overflow-hidden"> 
        <div class="flex justfy-center text-white" >
            <div class=" list-1  flex-1 p-5 " >
                <h3>Contact us</h3>
                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta.</p>
                
                <div class="flex flex-row justfy-start items-center gap-x-2">
                    <svg class="w-6 h-6 flex-none" width="25px" height="25px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
                    <div> 5-519 Dundas St West,Oakville, Ontario, Canada, </div> 
                </div>

                <div class="flex flex-row justfy-start items-center gap-x-2">
                    <svg class="w-6 h-6" width="25px" height="25px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"></path></svg>
                    <div>289 400 2360</div> 
                </div>

                <div class="flex flex-row justfy-start items-center gap-x-2">
                    <svg class="w-6 h-6" width="25px" height="25px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"></path></svg>
                    <div>marc@wellstocked.ca</div> 
                </div> 

            </div>
            <div class="flex flex-col list-2  flex-1 p-5  ">
                <div class="flex-1">  

                    <h3>Customer Service</h3>
                    <p>
                        FAQ's
                    </p>
                    <p>
                        Connect With Us
                    </p>
                    <p>
                        Warehouse Locations
                    </p>
                    <p>
                        Influencer Program
                    </p> 
                </div>
                <div class="flex-1 mt-4"> 
                    <h3>VITASCRIBE.CA</h3>
                    <p>
                        About Us
                    </p>
                    <p>
                        Blog
                    </p>
                    <p>
                        Privacy Policy
                    </p>
                    <p>
                        Terms of Service
                    </p> 
                    <p>
                        Returns and Shipping Policy
                    </p> 
 
                </div>
            </div>
            <div class=" list-3 flex-1 p-5 ">
                
                <h3> Vitascribe.ca </h3>
                <span>Stay up to date about product drops, news and special sales.</span>
                <div class="">
                    <form class="" method="POST" action="#">
                        <input type="text" name="news-letter" placeholder="email@example.com"/>
                        <button type="submit"  class="button button1">SUBSCRIBE</button>
                    </form>
                </div>
            </div>
        </div>  
    </div>